/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace supportClasses "spark.globalization.supportClasses.*";
@namespace mx "library://ns.adobe.com/flex/mx";

s|ViewMenu {
	skinClass: ClassReference("dMenuItemSkin");
}
global
{
	background-color:#FFFFFF;
	chrome-color: #6ab0f6;
	color: black;
	fontFamily: Georgia;

}
s|ActionBar
{
	chromeColor: #FFFFFF;
	titleAlign: center;
	defaultButtonAppearance:normal;
}

@media (os-platform:"IOS") {
	s|ActionBar
	{
		accentColor: #0000FF;
		titleAlign: center;
		defaultButtonAppearance:beveled;
	}
}

s|ActionBar #titleDisplay
{
	color: #000000;
}

s|List
{
	contentBackgroundColor: white;
	selectionColor: #6ab0f6;
}

s|Label
{
	backgroundAlpha:0;
}

s|Label.gps
{
	color: red;
	fontSize:28;
	fontFamily: Times;
	fontWeight: bold;
}
s|Label.gpsSelected
{
	fontSize:28;
	fontFamily: Times;
	fontWeight: bold;
	backgroundColor:black;
	backgroundAlpha:1;
	color:white;
}
s|Button.GameTypeButton:disabled
{
	color:#ff0000;
	background-alpha:0;		
}

s|Callout
{
	backgroundColor:        #FFFFFF;
	borderColor:            #0069D6;
	borderThickness:        3;
	contentBackgroundAppearance: inset;
}


.Transparent
{
	contentBackgroundAlpha:0.0;
	color: black;
	background-alpha:0;
}